<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'myprofile' %}">MyProfile</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'car_stream' %}">CarStream</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'followerstream' %}">FollowingStream</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'search_user' %}">SearchUserContent</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'search_by_tagging' %}">SearchByTagging</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'nlSearch' %}">NLSearch</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'notification' %}">Notification</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'vote' %}">Vote2Promote</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'user_logout' %}">LogOut</a>