<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'myprofile' %}">Me</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'car_stream' %}">CarStream</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'followerstream' %}">Following</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'haystack_search' %}">Search Content</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'search_user' %}">Search User</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'search_by_tagging' %}">Search Tagging</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'nlSearch' %}">NL Search</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'notification' %}">Notification</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'vote' %}">LikeUser</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'recommendations' %}">Recommendation</a>
<a class="py-2 d-none d-md-inline-block text-light bg-dark" href="{% url 'user_logout' %}">Logout</a>