{% extends 'base_structure.html' %}
{% block title %}{% endblock %}
{% block links %}
{% endblock %}
{% block content %}
    {% load static %}
    <script src="{% static 'js/profile.js' %}" type="text/javascript"></script>
    <div class="" align="center">
        <div class="pb-3">
            {% load static %}
            <img class="rounded-circle" src="{% static 'img/profile1.jpg' %}" alt="" width="200"
                 height="200">
        </div>
        <div>
            <h1 class="pt-3"><strong>{{ username }}</strong></h1>
            <div class="d-flex flex-row justify-content-center pb-2 pt-3 align-self-center">
                <div class="pl-3 pr-3">
                    {% load static %}
                    <img src="{% static 'img/facebook.png' %}" class="">
                </div>
                <div class="pl-3 pr-3">
                    {% load static %}
                    <img src="{% static 'img/google.png' %}" class="">
                </div>
                <div class="pl-3 pr-3">
                    {% load static %}
                    <img src="{% static 'img/mailtwitter.png' %}" class="">
                </div>
                <div class="pl-3 pr-3">
                    {% load static %}
                    <img src="{% static 'img/wechat_logo.png' %}" class="">
                </div>
                <div class="pl-3 pr-3">
                    {% load static %}
                    <img src="{% static 'img/qq.png' %}" class="">
                </div>
            </div>
        </div>
    </div>

    {% block follow %}{% endblock %}

    <div class="row col-md-12 col-lg-12 pt-5">
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default bg-dark">
                <div class="panel-heading text-white text-center"><strong>Basic Info</strong></div>
            </div>
            <ul class="list-group pt-0">
                <li class="list-group-item bg-light">
                    <span class="text-left">
                        <strong>User name</strong>
                    </span>
                    <p>{{ username }}</p>
                </li>
                <li class="list-group-item">
                    <span class="text-left">
                        <strong>First Name</strong>
                    </span>
                    <p>{{ firstname }}</p>
                </li>
                <li class="list-group-item bg-light">
                    <span class="text-left">
                        <strong>Last Name</strong>
                    </span>
                    <p>{{ lastname }}</p>
                </li>
                <li class="list-group-item">
                    <span class="text-left">
                        <strong>Age</strong>
                    </span>
                    <p>{{ age }}</p>
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="col-md-12 col-lg-12 pb-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-white text-center bg-dark"><strong>A Short Bio</strong></div>
                    <ul class="list-group pt-0">
                        <li class="list-group-item">
                            <p>
                                {{ bio }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default pt-3">
                    <div class="panel-heading text-white text-center bg-dark"><strong>Posts</strong></div>
                    <div class="pre-scrollable" style="max-height: 40vh">
                        <ul class="list-group pt-0">
                            <li class="list-group-item" id="new_posts">
                                {% for key, value in post.items %}
                                    <div class="card flex-md-row mb-4 mt-4 box-shadow h-md-250">
                                        <div class="card-body d-flex col-md-8 flex-column align-items-start">
                                            <div class="row mb-1">
                                                    {% load static %}
                                                    <img class="card-img-right flex-auto d-none d-lg-block"
                                                         data-src="holder.js/200x250?theme=thumb"
                                                         alt="Thumbnail [200x250]"
                                                         style="width: 50px; height: 50px;"
                                                         src="{% static 'img/profile1.jpg' %}"
                                                         data-holder-rendered="true">
                                                <a class="d-inline-block mb-1 ml-3 text-primary align-content-center"
                                                   href="{% url 'profile' %}?username={{ value.1 }}"><strong>{{ value.1 }}</strong></a>
                                            </div>
                                            <h4 class="mb-0">
                                                <p class="text-dark" href="#">{{ value.2 }}</p>
                                            </h4>
                                            <div class="mb-1 text-muted">{{ value.4 }}</div>
                                            <p class="card-text mb-auto">{{ value.3 }}</p>

                                            {#comment#}
                                            <div id="comments" class="">
                                                <hr>
                                                <div id="previous_comment{{ value.0 }}">
                                                    <div class="panel-footer">
                                                        {% for key, comment in comments.items %}
                                                            {% if comment.post_id == value.0 %}
                                                                <div class="row mb-1">
                                                                    {% if not comment.img %}
                                                                        {% load static %}
                                                                        <img class="card-img-right flex-auto d-none d-lg-block"
                                                                             data-src="holder.js/200x250?theme=thumb"
                                                                             alt="Thumbnail [200x250]"
                                                                             style="width: 20px; height: 20px;"
                                                                             src="{% static 'img/profile1.jpg' %}"
                                                                             data-holder-rendered="true">
                                                                    {% endif %}
                                                                    <a class="d-inline-block mb-1 ml-3 ml-2 pl-2 text-primary align-content-center"
                                                                       href="{% url 'profile' %}?username={{ comment.username }}"><strong>{{ comment.username }}</strong></a>
                                                                    <p align="right" class="text-muted mr-2 pl-2"
                                                                       size="">
                                                                        <small>{{ comment.time }}</small>
                                                                    </p>
                                                                </div>
                                                                <p>
                                                                    {{ comment.content }}
                                                                </p>
                                                                <hr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}