{% extends 'base_structure.html' %}
{% block title %}Recommendations{% endblock %}
{% block links %}
    {% include 'base_logined_headers.html' %}
{% endblock %}
{% block content %}
    <div align="center">
        <h2 class="text-dark">Similar Users recommend for U!</h2>
    </div>

    {% if recommendations %}
        <div align="center">
            <div class="pre-scrollable" style="max-height: 60vh">
                <ul class="list-group pt-0">
                    <li class="list-group-item" id="new_posts">
                        {% for key, val in recommendations.items %}
                            <div class="card flex-md-row mb-4 mt-4 box-shadow h-md-250">
                                <div class="card-body d-flex col-md-12 flex-column align-items-start">
                                    <h3 class="mb-0">
                                        <strong class="text-dark">{{ key }}</strong>
                                    </h3>
                                    <br>
                                    <h5 class="mb-0">
                                        <p class="text-success">Common Tags with u: {{ val }}</p>
                                    </h5>
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}